%body
  .container
    .row
      %br
      %h4.title Now Playing
    .row
      #movies.center-align
        - @movies.each do |movie|
          .col.s6.m6.l4
            .card.hoverable
              .card-image
                - if movie.title == "Interstellar"
                  =image_tag('interstellar.jpg', class: "movie-poster")
                - else
                  =image_tag('batvsup.jpg', class: "movie-poster")
              .card-content
                %h6= movie.title
              .card-action
                = link_to 'showtimes', movie_showtimes_path(movie_id: movie.id)