%h4.title Admin Actions
.divider
.section
  = link_to 'Orders', admin_orders_path, class: 'waves-effect waves-light btn'
  %br
  %br
  =link_to 'Theatres', admin_theatres_path, class: 'waves-effect waves-light btn'
  %br
  %br
  = link_to 'Movies', admin_movies_path, class: 'waves-effect waves-light btn pink'
  %br
  %br
  =link_to 'New Movie', new_admin_movie_path, class: 'waves-effect waves-light btn red'
  %br
  %br
  =link_to 'New Showtime', new_showtime_path, class: 'waves-effect waves-light btn purple'
