%h4.title Admin Actions
.divider
.section.center-align
  = link_to admin_orders_path, class: 'waves-effect waves-light btn-large green darken-3' do
    %i.material-icons.left credit_card
    Orders
  %br
  %br
  =link_to admin_theatres_path, class: 'waves-effect waves-light btn-large pink' do
    %i.material-icons.left local_movies
    Theatres
  %br
  %br
  = link_to admin_movies_path, class: 'waves-effect waves-light btn-large' do
    %i.material-icons.left movies
    Movies
  %br
  %br
  =link_to new_admin_movie_path, class: 'waves-effect waves-light btn-large teal accent-4' do
    %i.material-icons.left movie_filter
    New Movie
  %br
  %br
  =link_to showtimes_path, class: 'waves-effect waves-light btn-large indigo' do
    %i.material-icons.left access_time
    Showtimes
  %br
  %br
  =link_to new_showtime_path, class: 'waves-effect waves-light btn-large blue' do
    %i.material-icons.left alarm_add
    New Showtime
