%h4.title Recent Orders
= select_tag(:movie_id, options_from_collection_for_select(Movie.all, :id, :title), id: 'orders-movie-filter', prompt: 'All Movies')

#orders-list
  = render partial: 'list', locals: { orders: @orders }
