- if @movies.any?
  %table.striped.responsive-table
    %thead
      %tr
        %th Movie Title
        %th Run Time
        %th
    %tbody
      #movies
        - @movies.each do |movie|
          %tr
            %td= movie.title
            %td= movie.runtime
            %td
              = link_to [:admin, movie], method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn-small' do
                %i.material-icons delete

- else
  %p.error-block= 'There are currently no movies in the database.'