%br
%h4.title Theatres
= link_to 'New Theatre', new_admin_theatre_path, class: 'waves-effect waves-light btn right'

.row
%table.striped
  %thead
    %tr
      %th Theatre #
      %th Total Capacity
  %tbody
    #theatres
    - @theatres.each do |theatre|
      %tr
        %td= theatre.number
        %td= theatre.capacity