#{@order.customer_name}
/
Thanks for purchasing a movie ticket. Below is your receipt.
/
For the movie:
#{@order.movie.title}
/
Your showtime is:
#{@order.showtime.display_name}
/
Total Amount Paid:
#{@order.purchase_amount}