%body
  .container
    .row
      %br
      %h4.title Showtimes
      = link_to 'Buy Ticket', new_order_path, class: 'waves-effect waves-light btn lpl-blue'
    .row
      %table.striped
        %thead
          %tr
            %th Auditorium
            %th Time
        %tbody
          - if @showtimes.any?
            #showtimes
              - @showtimes.each do |showtime|
                %tr
                  %td= showtime.theatre.number
                  %td= showtime.time.strftime("%A, %b %d @ %H:%M")
          - else
            %tr
              %td= 'Sorry, There are currently no showtimes for this film please check back later.'