/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

.logo-img {
  margin: 10px;
}

nav {
  background-color: #00ADEF;
  padding: 0 5%;
}

.title {
  color: #F47B4B;
}

.movie-poster {
  width: 380px;
  height: 558px;
}

.panel-body {
  background-color: #DADADA;
}

.lpl-blue {
  background-color: #00ADEF;
}

.lpl-blue:hover {
  background-color: #00ADEF;
}

.error-block {
  color: darkred;
  padding-left: 2%;
}

.card .card-reveal {
  background-color: rgba(255,255,255,0.95);
}

.toast-notice {
  background-color: green;
}
.toast-alert {
  background-color: red;
}